<section class="navBar ">
    <nav>
        <ul class="sideBar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/allBlogs">Blogs</a></li>
            <li><a href="/add">Create</a></li>
        </ul>
        <ul class="NAVBAR">
            <div class="webName">
                <a href="/">
                    <img src="/blogLogo.png" alt="Blog-Logo" class="logo">Blog-Life
                </a>
            </div>
            <li class="hideOnPhone"><a href="/">Home</a></li>
            <li class="hideOnPhone"><a href="/about">About</a></li>
            <li class="hideOnPhone"><a href="/allBlogs">Blogs</a></li>
            <li class="hideOnPhone"><a href="/add">Create</a></li>
            <form class="searchBar" action="/search" method="get">
                <input type="text" placeholder="search" class="searchInput" name="query">
                <button type="submit" class="search">
                    <img src="/search.png" alt="searchIcon">
                </button>
            </form>
            <div class="sideBarBox">
            <li class="menuIcon" onclick="showSideBar()"><a><img src="/menu.png" alt="menuPic"></a></li>
            </div>
        
        </ul>
    </nav>
</section>